body {
    background-color: #183a4a;
}

#container {
    text-align: center;
    width: 90%;
    margin: auto;
}

#container h1 {
    color: white;
}

#containerCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    background-color: #3d88ae;
    width: 9vw;
    height: 9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cardGreen {
    background-color: #61d2a4;
    width:9vw;
    height:9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cardYellow {
    background-color: #f9d277;
    width:9vw;
    height:9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.cardRed {
    background-color: #de5471 !important;
    width: 9vw;
    height:9vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}